.board {
  position: fixed;
  left: 20em;
  width:  900px;
  z-index: 1;
  margin: 0 auto;
}

.background-image {
  position: fixed;
  top: 5em;
  left: 22em;
  z-index:-1;
  opacity: 0.7;
  height: 600px;
  width:  900px;
}

.board td {
  padding: 10px;
  width: 350px;
  height: 175px;
  text-align: center;
}

.board-icon {
  width: 150px;
  height: 125px;
  background-color: rgba(255,0,0,0.5);
}


.board-data {
  display: none;
}
